<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.submit "Sign in" %></p>
<% end %>

<h2>Remember these accounts exist for testing purposes:</h2>
<ul>
  <li>admin@test.com / test1234</li>
  <li>test1@test.com / test1234</li>
  <li>test2@test.com / test1234</li>
</ul>
