<!DOCTYPE html>
<html>
<head>
  <title>SignInMiddlewareExample</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<h2>Current user: <%= current_user %></h2>
<%= yield %>

</body>
</html>
